:root {
  --uh-dark-green: #063f00; /* Need to pick */
  --uh-lite-green: #000000; /* Need to pick */
  --uh-dark-gray: #000000; /* Need to pick */
  --uh-lite-gray: #000000; /* Need to pick */
}

body {  
  /* Late night ghetto dark mode. */
  background-color: rgb(63, 63, 63) !important;
  font-family: 'Open Sans', sans-serif !important;
}

.main-content {
  margin-top: 30px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

footer {
  color: rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', sans-serif !important;
}

footer .ui.horizontal.divider {
  color: rgba(0, 0, 0, 0.25);
  margin-bottom: 5px !important;
  font-family: 'Montserrat', sans-serif !important;
}
.study-uhp-landing-background {
  /*noinspection CssUnknownTarget*/
  background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), 
              url('images/campus.jpg') 
              no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.ui.inverted.table th {
	background-color: #063f00 !important;
	border-color: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.9) !important;
}

.card-style {
  background-color: #063f00 !important;
}
.button-style {
  background-color: rgb(63, 63, 63) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.primary.buttons .button, .ui.primary.button {
	background-color: #063f00 !important;
	color: rgba(0, 0, 0, 0.8) !important;
}

.ui.primary.buttons .button:hover, .ui.primary.button:hover {
	background-color: #063800 !important;
}

.ui.form .ui.inverted.segment .ui.button {
	background: #063f00 none !important;
}

.ui.inverted.form input:not([type]),
.ui.inverted.form input[type="date"],
.ui.inverted.form input[type="datetime-local"],
.ui.inverted.form input[type="email"],
.ui.inverted.form input[type="number"],
.ui.inverted.form input[type="password"],
.ui.inverted.form input[type="search"],
.ui.inverted.form input[type="tel"],
.ui.inverted.form input[type="time"],
.ui.inverted.form input[type="text"],
.ui.inverted.form input[type="file"],
.ui.inverted.form input[type="url"] {
	background: rgb(145, 145, 145) !important;
}

.ui.input > input {
	background: rgb(145, 145, 145) !important;

}

.ui.form textarea {
	background: rgb(145, 145, 145) !important;
}

.ui.input > input::placeholder {
	color: rgba(66, 66, 66, 0.87) !important;
}

.ui.form ::placeholder {
	color: rgba(66, 66, 66, 0.87) !important;
}

.ui.dropdown .menu {
	background: #1b1c1d !important;
}

.ui.pointing.dropdown > .menu::after {
  background: #1b1c1d !important;
}

.ui.menu .ui.dropdown .menu > .item > .text{
	color: rgba(255, 255, 255, 0.87) !important;
}

.ui.menu .ui.dropdown .menu > .item > .icon{
	color: rgba(255, 255, 255, 0.87) !important;
}

a:link {
  color: white!important;
}

a:hover {
  color: green!important;
}

/* v ISSUE 25 v */

/* react date picker css */
.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
  width: 100%;
}

/* react date picker css */
.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container
.showTimeSelect input {
  width: 100%;
  margin: 0px 0px 15px 0px;
}

label{
  font-size: 0.92857143em;
  font-weight: bold;
}

form label.required:after{
  color: red;
  content: " *";
}

.react-datepicker__input-container input:placeholder-shown{
  background: #919191 !important;
  color: #4c4c4c!important;
}
.react-datepicker__input-container input{
  background: #fffff0 !important;
  color: #000000 !important;
  outline-color: #e5dfa1 !important;
}

.react-datepicker__input-container.error input[type="text"]{
  border-color: #E0B4B4;
  color: #9F3A38;
}

/* ^ ISSUE 25 ^ */

/*
 * Animated CSS button
 * Copyright Alexander Bodin 2019-09-07
 *
 * Useage: .class {@import button($button-size, $hue, $sat);}
 */
.animated-button6 {
  background: #005226;
  padding: 10px 10px;
  margin: 0px 10px 10px 20px;
  width: 130px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #d6d9ce;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2.5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 83, 37, 0.5);
  box-shadow: 0px 0px 7px rgba(0, 83, 37, 0.9);
}

.animated-button6::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #85ad99;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button6:hover::before {
  opacity: 0.2;
}

.animated-button6 span {
  position: absolute;
}

.animated-button6 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to left, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateTop linear 3s infinite;
  animation: 5s animateTop linear 3s infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button6 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to top, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateRight linear 0.5s infinite;
  animation: 5s animateRight linear 0.5s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button6 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to right, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateBottom linear 3s infinite;
  animation: 5s animateBottom linear 3s infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button6 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to bottom, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateLeft linear 0.5s infinite;
  animation: 5s animateLeft linear 0.5s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.animated-button6-rev {
  background: #005226;
  padding: 10px 10px;
  margin: 20px 10px 10px 20px;
  width: 130px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #d6d9ce;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2.5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 83, 37, 0.5);
  box-shadow: 0px 0px 7px rgba(0, 83, 37, 0.9);
}

.animated-button6-rev::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #85ad99;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button6-rev:hover::before {
  opacity: 0.2;
}

.animated-button6-rev span {
  position: absolute;
}

.animated-button6-rev span:nth-child(4) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to left, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateTop linear 3s infinite;
  animation: 5s animateTop linear reverse 3s infinite;
}

@keyframes animateTop {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button6-rev span:nth-child(3) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to top, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateRight linear 0.5s infinite;
  animation: 5s animateRight linear reverse 0.5s infinite;
}

@keyframes animateRight {
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.animated-button6-rev span:nth-child(2) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to right, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateBottom linear 3s infinite;
  animation: 5s animateBottom linear reverse 3s infinite;
}

@keyframes animateBottom {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button6-rev span:nth-child(1) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 26, 0)), to(#26d980));
  background: linear-gradient(to bottom, rgba(8, 43, 26, 0), #26d980);
  -webkit-animation: 5s animateLeft linear 0.5s infinite;
  animation: 5s animateLeft linear reverse 0.5s infinite;
}

@keyframes animateLeft {
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
/*# sourceMappingURL=button.css.map */
