/* This is temporary. */
body {
  /* background-color: rgb(63, 63, 63) !important; */
}

.study-uhp-landing-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/campus.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-bottom: 40px;
}
